.accordion-item {
  position: relative;
  cursor: pointer;
  padding: 10px;
  background: #3393d4;
  color: #fff;
  border-bottom: 2px solid #f2f2f2;
}

.accordion-item:after {
  position: absolute;
  content: "\25b6";
  right: 10px;
  transition: transform 0.2s;
  top: 40%;
}
.accordion-body.open {
  display: block;
}

.accordion-text{
  overflow: hidden;
  transition: all 0.2s ease-out;
  max-height: 0;
  height: auto;
  background: #f2f2f2;
  color: #333;
}

.accordion-item.open:after {
  transform: rotate(90deg);
}

.accordion-item.open + .accordion-text{
  max-height: 600px;
  padding: 10px;
}